<header class="header">
  <nav class="navbar">
    <div class="sponsor-logos">
      <a href="https://gramilla.world/" target="_blank" rel="Gramilla">
        <img src="assets/gramilla.png" alt="Gramilla" class="images-cercle" />
      </a>
      <a href="https://ton.org/" target="_blank" rel="TON">
        <img src="assets/ton.png" alt="TON" class="images-cercle" />
      </a>  
      <a href="https://gramcoin.org/" target="_blank" rel="Gram">
        <img src="assets/gram.png" alt="Gram" class="images-cercle" />
      </a>
    </div>
  </nav>
</header>
